---
import BaseHead from '@components/BaseHead.astro';
import { SITE_DESCRIPTION,SITE_TITLE } from '../consts';

type Props = {
    title?: string;
    description?: string;
    filepath?: string;
};

const frontmatter = Astro.props.frontmatter ?? {};
const title = frontmatter.title
    ? `${frontmatter.title} | ${SITE_TITLE}`
    : Astro.props.title
    ? `${Astro.props.title} | ${SITE_TITLE}`
    : SITE_TITLE;
const description = frontmatter.description
    ? frontmatter.description
    : Astro.props.description ?? SITE_DESCRIPTION;
---

<html lang="en">
    <head>
        <BaseHead title={title} description={description} />
    </head>

    <body>
        <slot />
    </body>
</html>
